#logo {
    margin: 20px 0 auto;
}

#myCarousel {
    border: 0;
    -webkit-box-shadow: 0px 4px 2px -2px #e2e2e2;
    -moz-box-shadow: 0px 4px 2px -2px #e2e2e2;
    -o-box-shadow:0px 4px 2px -2px #e2e2e2;
    -ms-box-shadow:0px 4px 2px -2px #e2e2e2;
    box-shadow: 0px 4px 2px -2px #e2e2e2;
}

.carousel-control {
    background: none;
    border: 0;
    font-family: lato;
    font-size: 100px;
    font-weight: 100;
    top: 50%;
}

.meta {
    font-size: 0.8em;
}

.textnav {
    list-style: none;
    margin-left: 0;
}

.vig {
    color: #4e7fbf;
    font-family: 'Open Sans';
    font-weight: 300;
    padding: 12px 0;
    -webkit-text-shadow: 0px 0px 1px #ccc;
    -moz-text-shadow: 0px 0px 1px #ccc;
    -o-text-shadow: 0px 0px 1px #ccc;
    -ms-text-shadow: 0px 0px 1px #ccc;
    text-shadow: 0px 0px 1px #ccc;
}

div.infobox.infobox--hotline {
    color: #bf382c;
    font-family: 'Titillium Web';
    text-align: center;
}

html,* {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
}

nav ul {
    display: table;
    margin: 70px 0px 10px;
    width: 100%;
}

nav ul li {
    display: table-cell;
    font-family: 'Open Sans Condensed';
    font-size: 1.5em;
    height: 60px;
    text-align: center;
    -webkit-text-shadow:0px 0px 1px #444;
    -moz-text-shadow:0px 0px 1px #444;
    -o-text-shadow:0px 0px 1px #444;
    -ms-text-shadow:0px 0px 1px #444;
    text-shadow: 0px 0px 1px #444;
    vertical-align: middle;
    width: 20%;
}

#nav_main li a {
    color:#142126;
}

#nav_main li a:hover {
    text-decoration:none;
    color:#f2f2f2;
}

a {
    color:#bf382c;
}

.page-header {
    font-family:'Open Sans Condensed';
    font-weight:300;
    letter-spacing:1px;
}

.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {
    background:#a63126;
}

footer {
    margin-top:40px;
}

body {
    font-family:'Open Sans';
}

.shim-top {
    margin-top:25px;
}

.text-small {
    font-size:0.89em;
}
