<footer>
		<div class="container">
			<div class="row">
			<div class="span3">
				<div id="mini-map">
					<img src="{{STATIC_URL}}img/minimap.png" alt="">
				</div>
				<address>
					<strong>Anishinaabe Abinoojii Family Services</strong><br>
					20 Main Street South<br>
					Kenora, Ontario<br>
					P9N 1S7
				</address>
			</div>
			<div class="span9">
				<div class="row">
					{% page_menu "pages/menus/footer.html" %}
					<div class="span3">
						<h6>Connect with Us</h6>
						<ul class="unstyled">
							<li><i class="icon-twitter"></i><a href="//twitter.com/abinoojii">@abinoojii</a></li>
							<li><i class="icon-facebook"></i><a href="#">Facebook</a></li>
							<li><i class="icon-phone"></i>807-468-6224 or 888-420-9990</li>
						</ul>
						<ul class="textnav meta">
                            <li>Copyright &copy;2013 <br /> Anishinaabe Abinoojii Family Services</li>
							<li><a href="/privacy-policy/">Privacy Policy</a> | <a href="https://virtualoffice.aafs.ca/" target="_blank">Staff Portal</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		</div>
	</footer>
