<div class="container" role="banner" id="masthead">
		<div class="row">
			<div class="span6">
				<a href="/">
					<img src="/static/img/logo.png" alt="" id="logo">
					<h1 class="hide-text">Anishinaabe Abinoojii Family Services</h1>
					<!-- /.hide-text -->
				</a>
			</div>
			<!-- /.span6 -->
			<div class="span6">
				<div class="row">
					<div class="span6">
						<nav role="navigation" id="nav_main">
					<ul>
						<li><a href="/about-us/">About Us</a></li>
						<li><a href="/programs-and-services/">Programs & Services</a></li>
						<li><a href="/fostering/">Fostering</a></li>
						<li><a href="/customary-care/">Customary Care</a></li>
						<li><a href="/contact-us/">Contact Us</a></li>
					</ul>
				</nav>
					</div>

				</div>
				<div class="row">
					<div class="span4 offset2">
						<button class="btn btn-info pull-right" id="report-it">A Child in Need? Report It!</button>
					</div>
				</div>
			</div>
			<!-- /.span6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /#masthead.container -->
