<div class="container" role="banner" id="masthead">
		<div class="row">
			<div class="span6">
				<a href="/">
					<img src="/static/img/logo.png" alt="" id="logo">
					<h1 class="hide-text">Anishinaabe Abinoojii Family Services</h1>
					<!-- /.hide-text -->
				</a>
			</div>
			<!-- /.span6 -->
			<div class="span6">
				<div class="row">
					<div class="span6">
						<nav role="navigation">
					<ul>
						<li>About Us</li>
						<li>Programs & Services</li>
						<li>Fostering</li>
						<li>Customary Care</li>
						<li>Contact Us</li>
					</ul>
				</nav>
					</div>

				</div>
				<!-- <div class="row">
					<div class="span4 offset2">
						<button class="btn btn-mini btn-success pull-right">Donate</button>
					</div>
				</div> -->
			</div>
			<!-- /.span6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /#masthead.container -->