<div id="myCarousel" class="carousel slide">
					<div class="carousel-inner">
						<div class="item active">
							<img src="http://placehold.it/2000x480/bf382c/fff&text=Foster+a+child+today!" alt="">
			    		</div>
			    		<div class="item">
			      			<img src="http://placehold.it/2000x480/142126/fff&text=Be+the+difference" alt="">
			    		</div>
			    		<div class="item">
			      			<img src="http://placehold.it/2000x480/f2d64b/fff&text=Exciting+career+opportunities+await+you" alt="">
			    		</div>
			    		<div class="item">
			      			<img src="http://placehold.it/2000x480/f2f2f2/142126&text=Strengthening+communities" alt="">
			    		</div>
					</div>
					<!-- Carousel nav -->  
  					<a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>  
  					<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
				</div>