<!doctype html>
{% load pages_tags mezzanine_tags i18n %}
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
	<meta name="description" content="{% block meta_description %}{% endblock %}">
	<meta charset="UTF-8">
	<title>{% if settings.SITE_TITLE %}{{ settings.SITE_TITLE }} | {% endif %}{% block meta_title %}{% endblock %}</title>
	<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
	{% compress css %}
	{% include 'includes/styles.html' %}
	{% endcompress  %}
</head>
<body id="{% block body_id %}body{% endblock %}">
	{% include 'includes/header.html' %}
	{% if request.path == "/" %}
	{% include "includes/slideshow.html" %}
	{% endif %}
	<div class="container">
		<div class="row">
		{% if request.path == "/" or request.path == "/contact-us/" %}
		<div class="span12">
		{% else %}
			<div class="span4 left">
    		{% block left_panel %}
    			<div class="panel tree">{% page_menu "pages/menus/tree.html" %}</div>
    		{% endblock %}
			</div>
			<div class="span8 middle" role="main">
			{% block title %}{% editable page.title %}<h2 class="page-header">{{ page.title }}</h2>{% endeditable %}{% endblock %}
		{% endif %}
		{% block main %}{% endblock %}
		</div>
	</div>
	{% include "includes/footer.html" %}
	{% include "includes/scripts.html" %}
</body>
</html>
