{% extends "base.html" %}
{% block meta_title %}Home{% endblock %}
{% block main %}
<div class="container" id="content">
		<div class="row">
			<div class="span4">
				<div>
					<h4 class="vig">Rights of the Aboriginal Child</h4>
					<img src="//placehold.it/400x400" alt="" class="img-circle">
					<div>
<p>Under the Great Law of the Anishinabeg, an Anishinabe child has aboriginal (ascribed) rights.</p>

<p>These are their Rights:</p>

<ul class="unstyled">
<li>To their Name &mdash;  Anishinabe ishinikasoowin</li>
<li>To their Clan &mdash; dodem</li>
<li>To be with the Family &mdash; gutsiimug</li>
<li>To cultural and ceremonial practices &mdash; Anishinabe miiniggisiwin</li>
<li>To their identity &mdash; anishinabewin</li>
<li>To their language &mdash; anishinabemoowin</li>
<li>To a purposeful and zestful life &mdash; mino bimatiziwin</li>
<li>To their ancestral land &mdash; anishinabe akiing</li>
<li>To the lifestyle of the anishinabe &mdash; anishinabechigewin</li>
<li>To a good education &mdash; kinamaatiwin</li>
<li>To protection within the family &mdash; shanawentasoowin</li>
<li>To protection outside the family &mdash; ganawentasoowin</li>
</ul>
                        
				</div>
				</div>
			</div>
			<div class="span4">
				<div>
					<h4 class="vig">Fostering</h4>
					<img src="http://placehold.it/400x400" alt="" class="img-circle">
					<ul class="unstyled">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
			<div class="span4">
                <div>
					<h4 class="vig">Customary Care</h4>
					<img src="http://placehold.it/400x400" alt="" class="img-circle">
					<ul class="unstyled">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
		<hr>
	</div>
{% endblock %}
