{% extends "base.html" %}
{% include 'includes/slideshow.html' %}
{% block main %}
<div class="container" id="content">
		<div class="row">
			<div class="span4">
				<div class="vig">
					<h4>Rights of the Aboriginal Child</h4>
					<img src="//placehold.it/300x200" alt="">
					<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quos sunt possimus inventore quo expedita earum animi optio dignissimos repellendus placeat quaerat voluptatum deserunt tempora molestias iure adipisci totam quidem.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione similique consequuntur veniam amet deserunt commodi laboriosam ullam ipsam iusto minima soluta itaque qui quas. Eligendi repudiandae numquam maiores laboriosam ab!</p>
				</div>
				</div>
			</div>
			<div class="span4">
				<div class="vig">
					<h4>Fostering</h4>
					<img src="http://placehold.it/300x200" alt="">
					<ul class="unstyled">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
			<div class="span4">
				<div class="vig">
					<h4>Customary Care</h4>
					<img src="http://placehold.it/300x200" alt="">
					<ul class="unstyled">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
		<hr>
	</div>
{% endblock %}