{% extends "base.html" %}
{% block meta_title %}Home{% endblock %}
{% block main %}
<div class="container" id="content">
		<div class="row">
			<div class="span4 text-center">
				<div>
					<h4 class="vig">Rights of the Aboriginal Child</h4>
					<img src="//placehold.it/300x300" alt="" class="img-circle">
					<div class="shim-top">
<p>Under the Great Law of the Anishinabeg, an Anishinabe child has aboriginal (ascribed) rights.</p>

<p>These are their Rights:</p>

<dl class="dl-horizontal">
<dt>To their Name &mdash;</dt><dd>Anishinabe ishinikasoowin</dd>
<dt>To their Clan &mdash;</dt><dd>dodem</dd>
<dt>To be with the Family &mdash;</dt><dd>gutsiimug</dd>
<dt>To cultural and ceremonial practices &mdash;</dt><dd>Anishinabe miiniggisiwin</dd>
<dt>To their identity &mdash;</dt><dd>anishinabewin</dd>
<dt>To their language &mdash;</dt><dd>anishinabemoowin</dd>
<dt>To a purposeful and zestful dtfe &mdash;</dt><dd>mino bimatiziwin</dd>
<dt>To their ancestral land &mdash;</dt><dd>anishinabe akiing</dd>
<dt>To the dtfestyle of the anishinabe &mdash;</dt><dd>anishinabechigewin</dd>
<dt>To a good education &mdash;</dt><dd>kinamaatiwin</dd>
<dt>To protection within the family &mdash;</dt><dd>shanawentasoowin</dd>
<dt>To protection outside the family &mdash;</dt><dd>ganawentasoowin</dd>
</dl>
                        
				</div>
				</div>
			</div>
			<div class="span4 text-center">
				<div>
					<h4 class="vig">Fostering</h4>
					<img src="http://placehold.it/300x300" alt="" class="img-circle">
					<ul class="unstyled">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
			<div class="span4 text-center">
                <div>
					<h4 class="vig">Customary Care</h4>
					<img src="http://placehold.it/300x300" alt="" class="img-circle">
					<ul class="unstyled">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
		<hr>
	</div>
{% endblock %}
